include ../../../node_modules/bempug/index
- BEMPUG.modifier = '_';
- const classActiveLink = "Проекты";
mixin blockProject(img, heading, customer, provider, contractorHeading, contractor, construction, timing, performance)
  .block-project
    img(src=img).block-project__img
    section.block-project__wrap-desc
      h3.block-project__heading= heading
      p.block-project__wrap-list
        strong.block-project__name-list Заказчик
        span.block-project__desc-list= customer
      p.block-project__wrap-list
        strong.block-project__name-list Поставщик технологии
        span.block-project__desc-list= provider

      p.block-project__wrap-list
        strong.block-project__name-list= contractorHeading
        span.block-project__desc-list= contractor

      p.block-project__wrap-list
        strong.block-project__name-list Тип строительства
        span.block-project__desc-list= construction
      p.block-project__wrap-list
        strong.block-project__name-list Длительность проекта
        span.block-project__desc-list= timing
      p.block-project__wrap-list
        strong.block-project__name-list Производительность
        span.block-project__desc-list= performance


doctype html
html(lang="ru")
  include ../general/head
  body#main-page.cursor.ru.background-page
    include ../general/header
    .pattern.pattern_bg-page
    main.wrapper-grid

      .container2
      h1.heading-page Проекты
      +blockProject(
      '/img/projects/project9.jpg',
      'Строительство КОС для целлюлозно-бумажного комбината',
      'SFT Group (Алексинская БКФ), Россия, Тульская обл.',
      'H+E Group, ЕС, Германия',
      'Подрядчик по проектированию',
      'ПСК Монолит, Россия, Москва',
      'Новое строительство',
      'Август, 2020 – Январь, 2021',
      '48 000 м3/сут.'
      )

      +blockProject(
        '/img/projects/project1.jpg',
        'Модернизация КОС для целлюлозно-бумажного комбината',
        'Окуловская бумажная фабрика, Россия, Новгородская обл.',
        'ПСК Монолит, Россия, Москва',
        'Подрядчик по проектированию, строительству и монтажу оборудования',
        'ПСК Монолит, Россия, Москва',
        'Модернизация',
        'Июнь, 2019 – Ноябрь, 2020',
        '8 000 м3/сут.'
        )

      +blockProject(
        '/img/projects/project2.jpg',
        'Реконструкция КОС для целлюлозно-бумажного комбината',
        'KNAUF Group, Россия, Ленинградская обл.',
        'H+E Group, ЕС, Германия',
        'Подрядчик по проектированию, строительству и монтажу оборудования',
        'ПСК Монолит, Россия, Москва',
        'Реконструкция',
        'Январь, 2018 – Июль, 2019',
        '24 000 м3/сут.'
        )

      +blockProject(
        '/img/projects/project3.jpg',
        'Строительство КОС для завода по производству пищевых добавок',
        'PURATOS, Россия, Московская обл.',
        'Hydrotech Group, ЕС, Словакия',
        'Подрядчик по проектированию, строительству и монтажу оборудования',
        'ПСК Монолит, Россия, Москва',
        'Новое строительство',
        'Январь, 2017 – Октябрь, 2017',
        '1 000 м3/сут.'
        )

      +blockProject(
        '/img/projects/project4.jpg',
        'Строительство КОС для молокоперерабатывающего завода',
        'PARMALAT Group, Россия, Белгородская обл.',
        'Hydrotech Group, ЕС, Словакия',
        'Подрядчик по проектированию, строительству и монтажу оборудования',
        'ПСК Монолит, Россия, Москва',
        'Новое строительство',
        'Апрель, 2016 – Декабрь, 2016',
        '1 600 м3/сут.'
        )

      +blockProject(
        '/img/projects/project5.jpg',
        'Строительство КОС для пивоваренного завода',
        'EFES Group, Россия, Приморский край, г. Владивосток',
        'Hydrotech Group, ЕС, Словакия',
        'Подрядчик по проектированию, строительству и монтажу оборудования',
        'ПСК Монолит, Россия, Москва',
        'Новое строительство',
        'Март, 2015 – Сентябрь, 2016',
        '1 000 м3/сут.'
        )

      +blockProject(
        '/img/projects/project6.jpg',
        'Реконструкция КОС для целлюлозно-бумажного комбината',
        'ARMSTRONG, Россия, респ. Татарстан',
        'Hydrotech Group, ЕС, Словакия',
        'Подрядчик по строительству и монтажу оборудования',
        'ПСК Монолит, Россия, Москва',
        'Новое строительство',
        'Июнь, 2013 – Май, 2014',
        '7 000 м3/сут.'
        )

      +blockProject(
        '/img/projects/project7.jpg',
        'Реконструкция КОС для пивоваренного завода',
        'Carlsberg Group, Россия, Ярославская обл.',
        'Hydrotech Group, ЕС, Словакия',
        'Подрядчик по строительству и монтажу оборудования',
        'ПСК Монолит, Россия, Москва',
        'Реконструкция',
        'Март, 2012 – Октябрь, 2013',
        '9 000 м3/сут.'
        )

      +blockProject(
        '/img/projects/project8.jpg',
        'Реконструкция КОС для пивоваренного завода',
        'Московская Пивоваренная Компания, Россия, Московская обл.',
        'Hydrotech Group, ЕС, Словакия; HUBER SE, ЕС, Германия',
        'Подрядчик по строительству и монтажу оборудования',
        'ПСК Монолит, Россия, Москва',
        'Реконструкция',
        'Октябрь, 2011 – Ноябрь, 2013',
        'Увеличена с 3 600 м3/сут. до 10 000 м3/сут.'
        )

    include ../general/footer

    .loader